
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ====== VARIABLES ====== */
:root {
    --primary-clr: #0f2124;
    --primary-clr-alt: #1a3840;
    --second-clr: #f8fBfc;
    --second-clr-alt: #e1e5e6;
    --shadow-clr-bottom: linear-gradient(0deg, #0f2124 0%, #0f212400 100%);
    --shadow-clr-top: linear-gradient(0deg, #0f212400 0%, #0F2124 100%);
    --border-clr: #0f2124;
    --danger-clr: #ec434c;
    --warning-clr: #eacf4f;
    --info-clr: #4ba5b4;
}

/* ====== GLOBAL ====== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--primary-clr);
}

img {
    width: 100%;
    height: auto;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    margin: 0 .5rem;
}
@media screen and (min-width: 768px) {
    .container {
        margin: 0 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        margin: 0 2rem;
    }
}

/* ====== HEADER ====== */
#header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.logo {
    color: var(--second-clr);
    font-family: 'Carter One', sans-serif;
    font-size: 1rem;
}
.nav-links {
    display: flex;
}
.nav-item {
    margin-right: 2rem;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    color: var(--second-clr);
    font-family: 'Carter One', sans-serif;
    font-size: 1.1rem;
    transition: 150ms color;
}
@media (hover: hover) {
    .nav-link {
        color: var(--second-clr-alt);
    }
    .nav-link:hover {
        color: var(--second-clr);
    }
}
/* ====== MAIN ====== */
.hero-section {
    position: relative;
    z-index: 1;
    background-image: url(../images/hero_img_1.png);
    background-color: var(--primary-clr-alt);
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    background: var(--shadow-clr-top);
    height: 174px;
    width: 100%;
}
.hero-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    background: var(--shadow-clr-bottom);
    height: 226px;
    width: 100%;
}
@media screen and (min-height: 360px) {
    .hero-section {
        min-height: 580px;
    }
}
/* ------- */
.hero-art-info {
    color: var(--second-clr);
}
.hero-art-title {
    font-family: 'Carter One', sans-serif;
    font-size: 1rem;
}
.hero-art-author {
    font-weight: 400;
    font-size: 1rem;
    margin-top: .2rem;
}
.hero-art-date-out {
    font-weight: 200;
    font-size: .8rem;
    margin-top: .2rem;
}
/* ------- */
.hero-art-nav-container {
    cursor: pointer;
    display: flex;
}
.hero-art-nav:first-child img {
    border: 2px solid var(--second-clr);
}
.hero-art-nav {
    margin-right: .5rem;
    transition: 150ms transform;
}
.hero-art-nav:hover {
    transform: scale(1.04);
}
.hero-art-nav:last-child {
    margin-right: 0;
}
@media screen and (max-width: 600px) {
    .hero-art-info-container {
        position: absolute;
        bottom: 0;
    }
    .hero-art-info {
        margin-bottom: 1rem;
    }
}
/* --------------- */
@media screen and (min-width: 600px) {
    .hero-art-info {
        position: absolute;
        bottom: 1rem;
        left: 0;
    }
    .hero-art-nav-container {
        position: absolute;
        bottom: .5rem;
        right: 0;
    }
}
/* ---------------------------------- */
.teaser-section {
    display: flex;
    flex-direction: column;
}
.credit-container {
    padding: .5rem 0;
}
.credit-title {
    font-family: 'Carter One', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.credit-desc {
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 21rem;
}
.attire-img-container {
    position: relative;
    background-color: var(--primary-clr-alt);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}
@media screen and (min-width: 768px) {
    .teaser-section {
        flex-direction: row;
    }
    .credit-container {
        display: grid;
        place-content: center;
    }
    .attire-img-container {
        width: 506px;
        height: 450px;
    }
    .credit-desc {
        font-size: 2rem;
        max-width: 20rem;
    }
    .credit-title {
        font-size: 2rem;
    }
}
.left-attire-img {
    background-image: url(../images/under_hero_teasers/hero_teaser_img_1.png);
}
.right-attire-img {
    background-image: url(../images/under_hero_teasers/hero_teaser_img_2.png);
}
/* --------------- */
.top-art-showoff {
    display: flex;
    flex-direction: column;
}
.top-img {
    background-image: url(../images/top_img.png);
    background-color: var(--primary-clr-alt);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 575px;
}
.top-img-desc-container {
    background-color: var(--primary-clr);
    color: var(--second-clr);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width: 327px) {
    .top-img-desc-container {
        padding: 2rem;
    }
}
.top-img-title {
    font-family: 'Carter One', sans-serif;
    margin-bottom: 1rem;
    max-width: 25rem;
}
.top-img-desc {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2rem;
    max-width: 33rem;
    margin-bottom: 2rem;
}
.top-img-author {
    font-weight: 200;
    font-size: .9rem;
}
.date-out {
    font-weight: 200;
    font-size: .8rem;
}
@media screen and (min-width: 768px) {
    .top-art-showoff {
        flex-direction: row;
    }
}
/* --------------- */
.hero-allimages-container {
    background-image: url(../images/arts_bg.png);
    background-color: var(--second-clr);
    /* min-height: 600px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.all-images {
    column-width: 300px;
    column-gap: 1rem;
    padding: 1rem 0;
}

.art-image-container {
    position: relative;
    margin-bottom: 1rem;
}
.card-img-shadow::before {
    content: "";
    background: var(--shadow-clr-bottom);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.artist-desc {
    z-index: 1;
    color: var(--second-clr);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.artist-desc .art-title {
    font-family: 'Carter One', sans-serif;
    font-size: 1rem;
}
.artist-desc .art-author {
    font-weight: 300;
    font-size: 1rem;
    margin-top: .3rem;
}
.artist-desc .date-out {
    font-weight: 200;
    font-size: .8rem;
    margin-top: .2rem;
}
@media (hover: hover) {
    .artist-desc {
        transform: scaleY(0);
        transform-origin: bottom;
        transition: 250ms transform;
    }
    .card-img-shadow::before {
        transform: scaleY(0);
        transition: 250ms transform;
        transform-origin: bottom
    }
    .card-img-shadow:hover > .artist-desc {
        transform: scaleY(1);
    }
    .card-img-shadow:hover::before {
        transform: scaleY(1);
    }
}

/* --------------- */
.call-to-see-collections-container {
    background-image: url(../images/call_to_action_bg.png);
    background-color: var(--primary-clr);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.call-to-see-collections {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.call-txt {
    color: var(--second-clr);
    font-weight: 500;
    font-size: 1.3rem;
    max-width: 40rem;
}
.btn-call-collections {
    background-color: var(--primary-clr-alt);
    color: var(--second-clr);
    border: 2px solid var(--second-clr);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    transition: 150ms background;
}
.btn-call-collections:hover {
    background-color: var(--primary-clr);
}

/* ====== FOOTER ====== */
#footer {
    background-color: var(--primary-clr);
    padding: 1rem 0;
}
.footer-logo {
    font-size: .8rem;
}
#footer div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
#footer h3 {
    color: var(--second-clr-alt);
    font-size: .7rem;
}
#footer h3 a:hover {
    color: var(--second-clr);
    text-decoration: underline;
}

/* ----====== collections page ======----- */
.search-section .info {
    margin-top: 1rem;
}
.search-section .info h2 {
    font-family: 'Carter One', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}
.search-section .info p {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 46rem;
    line-height: 1.8rem;
}
.search-form {
    margin-top: 1rem;
}
.search-form .form-control {
    display: flex;
}
.form-control input {
    width: 100%;
    height: 2.6rem;
    padding: 0 .5rem;
    font-size: 1rem;
    background-color: var(--second-clr-alt);
    color: var(--primary-clr);
    border: 2px solid var(--second-clr-alt);
    outline: none;
    border-radius: 2px 0 0 2px;
}
.form-control input::placeholder {
    color: #87878741;
}
.form-control input:focus {
    background-color: var(--second-clr);
    border: 2px solid var(--border-clr);
}
.bx-search-alt-2 {
    background-color: var(--primary-clr-alt);
    color: var(--second-clr-alt);
    font-size: 1.8rem;
}
.search-btn {
    background-color: var(--primary-clr-alt);
    padding: 0 1rem;
    display: grid;
    place-content: center;
}
.search-btn div {
    color: var(--second-clr);
    font-size: 1rem;
}